%h1 Converting Temperatures

%form{:action => convert_temperature_path}
  %input{:name => "unit_1"}
  %select{:name => "unit_type_1"}
    %option Celsius
    %option Fahrenheit
    %option Kelvin

  To

  %select{:name => "unit_type_2"}
    %option Celsius
    %option Fahrenheit
    %option Kelvin

  %button Go
