.border

  .head
    %h1 Unit Converter

  .body
    %form{:action => convert_path}

      %select#type
        %option -Unit Type-
        %option Distance
        %option Weight
        %option Temperature
        %option Volume

      <br>
      <br>
      %input{:name => "amount"}

      %span#from_unit
        %select{:name => "from_unit"}

        To

      %span#to_unit
        %select{:name => "to_unit"}

      <br>
      %button Go

  #result

