
.border

  .head
    %h1 Unit Converter

  .body
    %form{:action => convert_path}
      %input{:name => "amount"}
      %select{:name => "from_unit"}
        %option Kilograms
        %option Grams
        %option Ounces
        %option Celsius
        %option Kelvin
        %option Fahrenheit
        %option Feet
        %option Meters
        %option Liters
        %option Gallons

        To

      %select{:name => "to_unit"}
        %option Kilograms
        %option Grams
        %option Ounces
        %option Celsius
        %option Kelvin
        %option Fahrenheit
        %option Feet
        %option Meters
        %option Liters
        %option Gallons -

      <br>
      %button Go
